*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}

.Navigation {
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 116px;
    padding: 48px 48px;
    box-shadow: 0 32px 104px 0 rgba(7, 8, 10, 0.08);
    background-color: var(--active-primary);
}

img.logo {
    width: 190.8px;
    height: 48px;
    flex-grow: 0;
    object-fit: contain;
  }
.nav-details {
    width: 521px;
    height: 70px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 48px;
    padding: 0;
}

.Home {
    width: 20px;
    height: 17px;
    flex-grow: 0;
    padding: 0 20px 35px 0;
    font-family: Manrope;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: left;
    color: var(--active-secondary);
  }
  /* .before {
    width: 1px;
    height: 83px;
    flex-grow: 0;
    background-color: var(--disabled-secondary);
  } */
nav .Navigation .nav-details  button {
    width: 350px;
    height: 50px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 20px 48px;
    border: solid 1px var(--disabled-secondary);
  }

.Start-an-Exchange {
    width: 312px;
    height: 44px;
    flex-grow: 0;
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.1;
    letter-spacing: normal;
    text-align: center;
    color: var(--disabled-secondary);
  }

  /*immediately after the navigation bar designs*/
  .hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 112px;
    padding: 70px 100px 30px;
    background-color: var(--active-primary);
  }
  
  .hero-cap {
    width: 500px;
    height: auto;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 56px;
    padding: 0;
  }
  .Join-our-team-as-a-Volunteer-Content-Writer {
    width: 815px;
    height: 280px;
    flex-grow: 0;
    font-family: Urbanist;
    font-size: 80px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: var(--active-secondary);
  }
  img.image {
    height: 600px;
    flex-grow: 1;
    object-fit: contain;
  }
  .Full-remote-role-with-monthly-data-allowance-up-to-NGN-10000-Naira-Volunteer-role-becomes-permanen {
    width: 605px;
    height: 80px;
    flex-grow: 0;
    font-family: Manrope;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.9;
    letter-spacing: normal;
    text-align: left;
    color: rgba(7, 8, 10, 0.56);
  }

/*this is the first black button*/
  .hero button {
    width: 250px;
    height: 60px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    gap: 16px;
    padding: 20px 20px;
    background-color:  var(--active-secondary);
  }

/*this is the first black button text decoration until you see an end comment*/

  .Start-an-Exchange1 {
    width: 200px;
    height: 44px;
    flex-grow: 0;
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: white;
    
  }
  .Vector {
    width: 10px;
    height: 10px;
    margin: 0;
  }
  /*END OF BLACK BUTTON DECORATION*/

  /*the next body*/
  main {
    width: 100%;
    height: 5000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 208px;
    margin: 110px 0 0;
    padding: 100px 90px 50px;
    background-color: var(--active-primary);
  }
  .rate {
    height: 400px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 110px 116px;
    background-image: linear-gradient(to right, #fff8f2 0%, #fff9f1 17%, #fffcf5 33%, #f9f9f8 49%, #f6f8f3 65%, #f2f5f3 82%, #eff2f1 98%);
  }
  .We-need-you-to-write-well-researched-short-form-blog-articles-for-our-website-Youll-work-directly {
    height: 148px;
    flex-grow: 1;
    font-family: Urbanist;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: center;
    color: var(--active-secondary);
  }
/* the section dat begins with responsibilities*/
.resp {
    height: auto;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 88px;
    padding: 0;
  }
  .section-header {
    height: 100px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
  }
  .texter {
    width: 100%;
    height: 99px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    padding: 0;
  }
  .Responsibilities {
    width: 100%;
    height: 40px;
    flex-grow: 0;
    font-family: Urbanist;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: var(--active-secondary);
  }
  .Some-of-the-things-that-we-expect-from-you {
    width: 80%;
    height: 10px;
    flex-grow: 0;
    font-family: Manrope;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    color: var(--active-secondary);
  }

  /*designs for the cards*/
  .row {
    max-height:300px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    padding: 0;
    overflow-x: auto;
  }
  .row::-webkit-scrollbar{
    width: 0;
  }
  .cards {
    min-width: 333.3px;
    height: 268px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 80px 56px;
    border: solid 1px black;
  }
  .Vector {
    width: 100px;
    height: 100px;
    margin: 0 80.7px 40px 40.7px;
  }
  .Receive-money-on-PayPal-through-us-and-have-them-sent-to-your-bank-account {
    height: 108px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Manrope;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: center;
    color: var(--active-secondary);
  }
  img.caprisome {
    height: 630px;
    align-self: stretch;
    flex-grow: 0;
    object-fit: contain;
    transform: rotate(0deg);
    width: 100%;
  }
  /* this is the second box grid designs */
  .points {
    max-height: 400px;
    height: 555px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    padding: 0;
    overflow-x: auto;
  }
  .points::-webkit-scrollbar{
    width: 0;
  }
  .picker {
    min-width: 333.3px;
    height: 270;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    padding: 50px 50px;
    background-color: var(--active-placeholder);
  } 
  
  .Sub-headingss1 {
    width: 43px;
    height: 73px;
    flex-grow: 0;
    font-family: Urbanist;
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: var(--active-accent);
  }
  .You-must-have-at-least-6-months-of-experience-in-content-writing {
    height: 63px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Manrope;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: center;
    color: var(--active-primary);
  }
  .help {
    height: 721px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 96px;
    padding: 0;
  }
  .playcard {
    height: 300px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 80px 110px;
    border: solid 1px var(--active-secondary);
  }
  .Write-a-600-word-article-on-The-Benefits-and-Downsides-of-Remote-Work {
    height: 123px;
    flex-grow: 1;
    font-family: Urbanist;
    font-size: 35px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--active-secondary);
  }





























  .rate1 {
    height: 400px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 70px 116px;
    background-image: linear-gradient(to right, #fff8f2 0%, #fff9f1 17%, #fffcf5 33%, #f9f9f8 49%, #f6f8f3 65%, #f2f5f3 82%, #eff2f1 98%);
  }

.section-header1 {
  width: 974px;
  height: 133px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  padding: 0;
}
  .Need-help {
    width: 277px;
    height: 38px;
    flex-grow: 0;
    font-family: Urbanist;
    font-size: 54px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: var(--active-secondary);
  }
  .btn1 {
    width: 225px;
    height: 60px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    gap: 16px;
    padding: 20px 48px;
    border: solid 1px var(--active-secondary);
    margin-top: 60px;
  }
 

  .Start-an-Exchange2 {
    width: 181px;
    height: 44px;
    flex-grow: 0;
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: var(--active-secondary);
  }